/* ------------- Színek beállítása */
:root {
  --main-red: #ef476f;
  --main-yellow: #ffd166;
  --main-green: #06d6a0;
  --main-blue: #118ab2;
  --main-grey: #073b4c;
  --main-white: ghostwhite;
}

/* -------------- Alapbeállítások */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
  padding-top: 8rem;
}

body,
html {
  scroll-padding-top: 10rem;
}

.container {
  padding: 1rem 3rem;
  margin: 0 auto;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.1rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}
/* -------------- Gombok */
.btn {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 1.2rem;
  margin: 0.4rem;
  font-weight: 600;
  border-style: solid;
  text-align: center;
  min-width: 11rem;
  transition: transform 100ms;
}

.btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
  border: 2px solid var(--main-grey);
}

.btn-big {
  font-size: 3.6rem;
}

.info-skills i {
  font-size: 5rem;
}

.btn-socal-media {
  min-width: 0;
}

.btn-primary {
  background-color: var(--main-grey);
  color: var(--main-white);
  border-color: var(--main-grey);
}

.btn-secondary {
  background-color: var(--main-white);
  color: var(--main-grey);
  border-color: var(--main-white);
}

.btn-success {
  background-color: var(--main-green);
  color: var(--main-white);
  border-color: var(--main-green);
}

.btn-danger {
  background-color: var(--main-red);
  color: var(--main-white);
  border-color: var(--main-red);
}

/* -------------- Fejléc és navigáció */
.header-navigation img {
  width: 80px;
}

.header-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--main-yellow);
  color: var(--main-grey);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.2rem 0.5rem;
  z-index: 0;
}

.nav-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 0.3rem;
  margin-right: 4rem;
  padding: 0.5rem;
  transform: translateY(-60rem);
  background-color: var(--main-green);
  position: absolute;
  width: 100vw;
  top: 10rem;
  left: 0;
  z-index: -1;
}

.active {
  transform: translate(0);
  transition: transform 500ms ease-in-out;
}

.header-navigation a {
  text-decoration: none;
  color: var(--main-grey);
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0.2rem 0.2rem #cdd2d5;
}

.header-navigation a:hover {
  /* text-shadow: 5px 2px solid var(--main-red); */
  color: var(--main-blue);
  cursor: pointer;
}

.menu-button {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--main-white);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.menu-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--main-green);
  box-shadow: 0.2rem 0.2rem 0.3rem black;
}

.bi-list {
  font-size: 4rem;
}

/* -------------- Main */

.profile {
  border-radius: 50%;
  background-color: #073b4c;
}

.flex-container-column,
.div-contact,
.section-home
/* .section-contact*/ {
  padding: 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.info-skills {
  display: flex;
  justify-content: space-around;
}

.section-projects img {
  width: 300px;
}

/* -------------- Contact */

.contact-text {
  text-align: center;
}

/* form {
  line-height: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} */

.contact-form {
  width: 80%;
  margin: 0 auto;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.form-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
  color: #55595c;
  font-weight: 600;
  margin: 2px 0 8px;
  font-size: 1.6rem;
}

.form-input {
  width: 100%;
  /* max-width: 425px; */
  padding: 1.2rem 0.12rem;
  /* margin: 0 6px; */
  font-size: 1.6rem;
  outline: none;
  color: #55595c;
  font-weight: 400;
  border: 0px solid #ced4da;
  border-radius: 0px;
  background-color: #f7f7f9;
  transition: border-color 0.15s, ease-in-out 0.15s, box-shadow 0.15s;
}

.form-input:focus,
.form-textarea:focus {
  outline: 4px solid #c6c6c6;
}

.form-textarea {
  width: 100%;
  max-width: 200px;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: vertical;
}

.form-button-div {
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-top {
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
}
