/* ------------- Színek beállítása --------------------------------------*/
:root {
  --main-red: #ef476f;
  --main-yellow: #ffd166;
  --main-green: #06d6a0;
  --main-blue: #118ab2;
  --main-grey: #073b4c;
  --main-white: ghostwhite;
}
/* -------------- Alapbeállítások --------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  padding-top: 8rem;
  scroll-padding-top: 10rem;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.1rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}
/* -------------- Gombok ------------------------------------------------*/
.btn {
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 0.4rem;
  font-weight: bold;
  border-style: solid;
  text-align: center;
  transition: transform 100ms;
}

.btn-primary:hover {
  /* background-color: var(--main-blue); */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
  outline: 2px solid var(--main-grey);
  border-color: var(--main-grey);
}

.btn-primary {
  background-color: var(--main-grey);
  color: var(--main-white);
  border-color: var(--main-grey);
}

.btn-secondary {
  background-color: var(--main-white);
  color: var(--main-grey);
  border-color: var(--main-white);
}

.btn-success {
  background-color: var(--main-green);
  color: var(--main-white);
  border-color: var(--main-green);
}

.btn-danger {
  background-color: var(--main-red);
  color: var(--main-white);
  border-color: var(--main-red);
}
/* -------------- Navbar ------------------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-yellow);
  color: var(--main-grey);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.2rem 0.5rem;
  z-index: 0;
}

.navbar img {
  width: 8rem;
  height: auto;
}

.nav-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  transform: translateY(-60rem);
  background-color: var(--main-grey);
  position: absolute;
  width: 100vw;
  top: 10rem;
  left: 0;
  z-index: -1;
}

.active {
  transform: translate(0);
  transition: transform 500ms ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: var(--main-white);
  font-weight: 700;
  font-size: 3rem;
  position: relative;
  padding-bottom: 0;
}

.navbar a:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  line-height: 1;
  width: 100%;
  background-color: var(--main-white);
  transform-origin: right bottom;
  transform: scaleX(0);
  transition: transform 0.4s linear;
}

.navbar a:hover:after,
.navbar a:active:after {
  transform: scaleX(1);
  transform-origin: left bottom;
  transition: transform 0.4s linear;
}

.navbar a:hover {
  color: var(--main-white);
  cursor: pointer;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.menu-button:hover {
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.3rem black;
}

.bi-list {
  font-size: 3.7rem;
}
/* -------------- Home ------------------------------------------------*/
.profile-img {
  border-radius: 50%;
  background-color: var(--main-grey);
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* -------------- Breakpoints ------------------------------------------------*/
@media (min-width: 992px) {
  .menu-button {
    display: none;
  }

  .nav-menu-list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.3rem;
    transform: translateY(0);
    position: static;
    background-color: var(--main-yellow);
  }

  .nav-menu-list a {
    color: var(--main-grey);
  }

  .nav-menu-list a:hover {
    color: var(--main-grey);
  }

  .navbar a:after {
    background-color: var(--main-grey);
  }

  .section-home {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}
